body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.iconPage {
  background-color: black;
  height: 240px;
  padding: 40px;
  margin-left: -15px;
  margin-right: -15px;
}

.iconRow {
  color: grey;
  text-align: center;
}

.icon {
  margin-bottom: 16px;
}

.streetLegal {
  color: grey;
  margin-left: 4%;
}

#secondCarousel {
}
