body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

/*Icon Page*/

.iconPage {
  background-color: black;
  height: 240px;
  padding: 40px;
  margin-left: -15px;
  margin-right: -15px;
}

.iconRow {
  color: gray;
  text-align: center;
}

.icon {
  margin-bottom: 16px;
}

.streetLegal {
  color: grey;
  margin-left: 4%;
}

/*TeamLinkPage*/

.teamLinkContainer {
  background-color: black;
  color: gray;
  padding: 40px;
  margin-left: -15px;
  margin-right: -15px;
}

.feedbackTerminLinkContainer {
  text-align: center;
  border-bottom: 1px solid grey;
  border-width: 110%;
  margin-left: -15px;
  margin-right: -15px;
}

.teamContainer {
  margin-top: 16px;
  margin-left: -15px;
  margin-right: -15px;
}

.teamMember {
  text-align: center;
}

.nameTeamMember {
  margin-top: 8px;
}

.teamImage {
  width: auto;
  height: 240px;
  border-radius: 20%;
}

.textTeamMembers {
  margin-top: 16px;
  font-size: 20px;
}

.footerContainer {
  margin-left: -15px;
  margin-right: -15px;
  background-color: black;
  color: gray;
  text-align: -webkit-center;
  padding: 40px;
}

.footerRowContainer {
  align-items: stretch;
}

.wolfLogoFooter {
  width: 400px;
  height: auto;
}

.footerInstagram {
  margin-top: 10%;
  font-size: xx-large;
}

.footerLinks {
  margin-top: 10%;
}

.motoImage{
  width: auto;
  float: left;
  height: 370px;
  margin: 10px;
}

.motoContainer {
  margin-left: -15px;
  margin-right: -15px;
  background-color: white;
  text-align: -webkit-left;
  padding: 40px;
}

.motoRowContainer {
  align-items: stretch;
}

.instTextRight{
  color:white;
  float: right;
  padding: 20px;
  margin-right: 300px;

}
.instTextLeft{
  color:white;
  float: left;
  padding: 20px;
  margin-left: 210px;

}

.instLabel {
  margin-bottom: 16px;
  margin-top: 5%;

}
.topPage {
  background-color: white;
  height: 150px;
  width: 100%;
  margin-left: -15px;
}

.wolfLogoTop {
  float: left;
  height: auto;
  width: 300px;
}
.instTop {
  float: right;
  margin-top: 5%;
  margin-left: 400px;

}
.topLinks {
  color: black;
  margin-left: -15px;
  float: right;
  padding: 40px;
  margin-right: -15px;
}
#navigation a {
  color: black;
  margin: 60px auto;
}

#top {
  text-align: -webkit-right;
  margin-left: 185px;
  margin-right: 6px;
}